/CC.txt
/client_secrets.json
/First.zibi
/Gmail.securestring
/GsuiteLicenseLog.txt
/MailSignature.txt
/New Text Document.txt
/oauth2.txt
/oauth2service.json
/Office365.securestring
/Office365Username.txt
/SenderAddress.txt
/Untitled1.ps1
/GsuiteAccountLog.txt
ADAdmin.txt
ADAdmin.securestring
DCIP.txt
New Documents.txt
lastupdatecheck.txt